In [1]:
from datetime import datetime
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import bigquery
from google.cloud.exceptions import NotFound
import pandas as pd
import yahoo_fin.stock_info as si
from utils.utils_bigquery import *
from datetime import *
import hashlib

In [2]:
key_path = key_path
project = project_id
dataset = 'bronze'
table = 'bronze_ticker_data'
table_conca = f'{project}.{dataset}.{table}'

# schema = [
#     {'name': 'dd', 'type': 'STRING'},
#     {'name': 'date', 'type': 'DATE'},
#     {'name': 'ticker', 'type': 'STRING'},
#     {'name': 'adj close', 'type': 'INTEGER'},
#     {'name': 'close', 'type': 'INTEGER'},
#     {'name': 'high', 'type': 'INTEGER'},
#     {'name': 'low', 'type': 'INTEGER'},
#     {'name': 'Open', 'type': 'INTEGER'},
#     {'name': 'Volume', 'type': 'INTEGER'},
# ]

In [3]:
# Conectamos con Bigquery
bigquery = BigQueryUtils(key_path)

In [4]:
unique_tickers = bigquery.run_query(
    f"""
    SELECT
        ticker
    FROM sara-carles-keepcoding.bronze.bronze_sp500_tickers
    """
)
unique_tickers

    ticker
0      COP
1      EOG
2      OXY
3      HES
4     FANG
..     ...
498   TTWO
499  GOOGL
500   GOOG
501   META
502   MTCH

[503 rows x 1 columns]

In [5]:
# Assign an initial date to each ticker.
unique_tickers_initial_date = initial_date_by_ticker(unique_tickers, initial_date='2015-01-01')

In [8]:
# Attempt to fetch the maximum date per ticker from BigQuery; fallback to initial dates if an error occurs.
try:
    max_date_by_ticker = bigquery.run_query(
        f"""
        SELECT
            ticker,
            max(date) as date 
        FROM {table_conca} 
        GROUP BY 
            ticker
        """
    )
    max_date_by_ticker['date'] = pd.to_datetime(max_date_by_ticker['date'])
    max_date_by_ticker['date'] = max_date_by_ticker['date'].dt.tz_localize(None)
    print(max_date_by_ticker)

except Exception as e:
    print(e)
    max_date_by_ticker = unique_tickers_initial_date
    print(max_date_by_ticker)

     ticker       date
0      AAPL 2024-08-13
1      AMGN 2024-08-13
2      AMZN 2024-08-13
3       AXP 2024-08-13
4        BA 2024-08-13
...     ...        ...
4446  PDYNW 2024-08-13
4447  PGYWW 2024-08-13
4448  RENEW 2024-08-13
4449  AIMAW 2024-08-12
4450  BAERW 2024-08-12

[4451 rows x 2 columns]

In [9]:
# Merge with the DataFrame of unique tickers
max_date_by_ticker = pd.merge(unique_tickers_initial_date, max_date_by_ticker, how='left', on='ticker')

# Keep the maximum date between both fields
max_date_by_ticker['date'] = max_date_by_ticker[['date', 'initial_date']].max(axis=1)

# Remove the auxiliary 'initial_date' column
max_date_by_ticker.drop(columns=['initial_date'], inplace=True)

max_date_by_ticker

    ticker       date
0      COP 2015-01-01
1      EOG 2015-01-01
2      OXY 2015-01-01
3      HES 2015-01-01
4     FANG 2024-08-13
..     ...        ...
498   TTWO 2024-08-13
499  GOOGL 2024-08-13
500   GOOG 2024-08-13
501   META 2024-08-13
502   MTCH 2024-08-13

[503 rows x 2 columns]

In [10]:
# Perform an incremental update to fetch the latest records
new_df = fetch_historical_data(max_date_by_ticker, start_date_col='date', interval='1d')
new_df

Datos obtenidos para COP.
Datos obtenidos para EOG.
Datos obtenidos para OXY.
Datos obtenidos para HES.
Datos obtenidos para FANG.
Datos obtenidos para DVN.
Datos obtenidos para EQT.
Datos obtenidos para CTRA.
Datos obtenidos para MRO.
Datos obtenidos para APA.
Datos obtenidos para WMB.
Datos obtenidos para OKE.
Datos obtenidos para KMI.
Datos obtenidos para TRGP.
Datos obtenidos para XOM.
Datos obtenidos para CVX.
Datos obtenidos para SLB.
Datos obtenidos para BKR.
Datos obtenidos para HAL.
Datos obtenidos para MPC.
Datos obtenidos para PSX.
Datos obtenidos para VLO.
Datos obtenidos para CEG.
Datos obtenidos para GEV.
Datos obtenidos para SRE.
Datos obtenidos para AES.
Datos obtenidos para ATO.
Datos obtenidos para NI.
Datos obtenidos para AWK.
Datos obtenidos para NEE.
Datos obtenidos para SO.
Datos obtenidos para DUK.
Datos obtenidos para AEP.
Datos obtenidos para PCG.
Datos obtenidos para D.
Datos obtenidos para PEG.
Datos obtenidos para EXC.
Datos obtenidos para ED.
Datos obtenidos para XEL.
Datos obtenidos para EIX.
Datos obtenidos para WEC.
Datos obtenidos para DTE.
Datos obtenidos para ETR.
Datos obtenidos para FE.
Datos obtenidos para ES.
Datos obtenidos para PPL.
Datos obtenidos para AEE.
Datos obtenidos para CMS.
Datos obtenidos para CNP.
Datos obtenidos para LNT.
Datos obtenidos para EVRG.
Datos obtenidos para PNW.
Datos obtenidos para VST.
Datos obtenidos para NRG.
Datos obtenidos para REGN.
Datos obtenidos para VRTX.
Datos obtenidos para MRNA.
Datos obtenidos para INCY.
Datos obtenidos para TECH.
Datos obtenidos para ABT.
Datos obtenidos para SYK.
Datos obtenidos para BSX.
Datos obtenidos para MDT.
Datos obtenidos para EW.
Datos obtenidos para DXCM.
Datos obtenidos para STE.
Datos obtenidos para ZBH.
Datos obtenidos para PODD.
Datos obtenidos para BIO.
Datos obtenidos para UNH.
Datos obtenidos para ELV.
Datos obtenidos para CI.
Datos obtenidos para CVS.
Datos obtenidos para HUM.
Datos obtenidos para CNC.
Datos obtenidos para MOH.
Datos obtenidos para MCK.
Datos obtenidos para COR.
Datos obtenidos para CAH.
Datos obtenidos para HSIC.
Datos obtenidos para TMO.
Datos obtenidos para DHR.
Datos obtenidos para IQV.
Datos obtenidos para A.
Datos obtenidos para IDXX.
Datos obtenidos para MTD.
Datos obtenidos para WAT.
Datos obtenidos para LH.
Datos obtenidos para DGX.
Datos obtenidos para RVTY.
Datos obtenidos para CRL.
Datos obtenidos para HCA.
Datos obtenidos para UHS.
Datos obtenidos para DVA.
Datos obtenidos para WBA.
Datos obtenidos para GEHC.
Datos obtenidos para SOLV.
Datos obtenidos para LLY.
Datos obtenidos para JNJ.
Datos obtenidos para ABBV.
Datos obtenidos para MRK.
Datos obtenidos para AMGN.
Datos obtenidos para PFE.
Datos obtenidos para BMY.
Datos obtenidos para GILD.
Datos obtenidos para BIIB.
Datos obtenidos para ISRG.
Datos obtenidos para BDX.
Datos obtenidos para RMD.
Datos obtenidos para WST.
Datos obtenidos para COO.
Datos obtenidos para HOLX.
Datos obtenidos para BAX.
Datos obtenidos para ALGN.
Datos obtenidos para TFX.
Datos obtenidos para ZTS.
Datos obtenidos para VTRS.
Datos obtenidos para CTLT.
Datos obtenidos para FSLR.
Datos obtenidos para ENPH.
Datos obtenidos para NVDA.
Datos obtenidos para AVGO.
Datos obtenidos para AMD.
Datos obtenidos para QCOM.
Datos obtenidos para TXN.
Datos obtenidos para MU.
Datos obtenidos para ADI.
Datos obtenidos para INTC.
Datos obtenidos para NXPI.
Datos obtenidos para MPWR.
Datos obtenidos para MCHP.
Datos obtenidos para ON.
Datos obtenidos para SWKS.
Datos obtenidos para QRVO.
Datos obtenidos para ANET.
Datos obtenidos para SMCI.
Datos obtenidos para HPQ.
Datos obtenidos para NTAP.
Datos obtenidos para STX.
Datos obtenidos para WDC.
Datos obtenidos para AAPL.
Datos obtenidos para APH.
Datos obtenidos para TEL.
Datos obtenidos para GLW.
Datos obtenidos para JBL.
Datos obtenidos para CRM.
Datos obtenidos para INTU.
Datos obtenidos para NOW.
Datos obtenidos para UBER.
Datos obtenidos para ADP.
Datos obtenidos para CDNS.
Datos obtenidos para ROP.
Datos obtenidos para ADSK.
Datos obtenidos para PAYX.
Datos obtenidos para FICO.
Datos obtenidos para ANSS.
Datos obtenidos para TYL.
Datos obtenidos para PTC.
Datos obtenidos para PAYC.
Datos obtenidos para DAY.
Datos obtenidos para CSCO.
Datos obtenidos para MSI.
Datos obtenidos para HPE.
Datos obtenidos para ZBRA.
Datos obtenidos para JNPR.
Datos obtenidos para MSFT.
Datos obtenidos para ORCL.
Datos obtenidos para ADBE.
Datos obtenidos para PANW.
Datos obtenidos para SNPS.
Datos obtenidos para CRWD.
Datos obtenidos para FTNT.
Datos obtenidos para GDDY.
Datos obtenidos para CPAY.
Datos obtenidos para VRSN.
Datos obtenidos para GEN.
Datos obtenidos para AKAM.
Datos obtenidos para FFIV.
Datos obtenidos para ACN.
Datos obtenidos para IBM.
Datos obtenidos para FI.
Datos obtenidos para FIS.
Datos obtenidos para CTSH.
Datos obtenidos para IT.
Datos obtenidos para CDW.
Datos obtenidos para BR.
Datos obtenidos para LDOS.
Datos obtenidos para JKHY.
Datos obtenidos para EPAM.
Datos obtenidos para GRMN.
Datos obtenidos para FTV.
Datos obtenidos para KEYS.
Datos obtenidos para TDY.
Datos obtenidos para TRMB.
Datos obtenidos para AMAT.
Datos obtenidos para LRCX.
Datos obtenidos para KLAC.
Datos obtenidos para TER.
Datos obtenidos para DAL.
Datos obtenidos para LUV.
Datos obtenidos para UAL.
Datos obtenidos para AAL.
Datos obtenidos para ODFL.
Datos obtenidos para UNP.
Datos obtenidos para CSX.
Datos obtenidos para NSC.
Datos obtenidos para WAB.
Datos obtenidos para HON.
Datos obtenidos para MMM.
Datos obtenidos para WM.
Datos obtenidos para RSG.
Datos obtenidos para GE.
Datos obtenidos para RTX.
Datos obtenidos para LMT.
Datos obtenidos para BA.
Datos obtenidos para GD.
Datos obtenidos para NOC.
Datos obtenidos para TDG.
Datos obtenidos para LHX.
Datos obtenidos para HWM.
Datos obtenidos para AXON.
Datos obtenidos para TXT.
Datos obtenidos para HII.
Datos obtenidos para VRSK.
Datos obtenidos para EFX.
Datos obtenidos para SWK.
Datos obtenidos para SNA.
Datos obtenidos para GWW.
Datos obtenidos para FAST.
Datos obtenidos para POOL.
Datos obtenidos para URI.
Datos obtenidos para PWR.
Datos obtenidos para J.
Datos obtenidos para CTAS.
Datos obtenidos para CPRT.
Datos obtenidos para GPN.
Datos obtenidos para HUBB.
Datos obtenidos para TT.
Datos obtenidos para CARR.
Datos obtenidos para JCI.
Datos obtenidos para BLDR.
Datos obtenidos para MAS.
Datos obtenidos para UPS.
Datos obtenidos para FDX.
Datos obtenidos para JBHT.
Datos obtenidos para EXPD.
Datos obtenidos para CHRW.
Datos obtenidos para VLTO.
Datos obtenidos para ALLE.
Datos obtenidos para ETN.
Datos obtenidos para PH.
Datos obtenidos para ITW.
Datos obtenidos para EMR.
Datos obtenidos para CMI.
Datos obtenidos para AME.
Datos obtenidos para OTIS.
Datos obtenidos para IR.
Datos obtenidos para XYL.
Datos obtenidos para ROK.
Datos obtenidos para DOV.
Datos obtenidos para IEX.
Datos obtenidos para PNR.
Datos obtenidos para NDSN.
Datos obtenidos para AOS.
Datos obtenidos para GNRC.
Datos obtenidos para CAT.
Datos obtenidos para DE.
Datos obtenidos para PCAR.
Datos obtenidos para ARE.
Datos obtenidos para BXP.
Datos obtenidos para SPG.
Datos obtenidos para O.
Datos obtenidos para KIM.
Datos obtenidos para REG.
Datos obtenidos para FRT.
Datos obtenidos para AMT.
Datos obtenidos para EQIX.
Datos obtenidos para DLR.
Datos obtenidos para CCI.
Datos obtenidos para IRM.
Datos obtenidos para SBAC.
Datos obtenidos para WY.
Datos obtenidos para PLD.
Datos obtenidos para PSA.
Datos obtenidos para EXR.
Datos obtenidos para VICI.
Datos obtenidos para AVB.
Datos obtenidos para EQR.
Datos obtenidos para INVH.
Datos obtenidos para ESS.
Datos obtenidos para MAA.
Datos obtenidos para UDR.
Datos obtenidos para CPT.
Datos obtenidos para HST.
Datos obtenidos para CBRE.
Datos obtenidos para CSGP.
Datos obtenidos para WELL.
Datos obtenidos para VTR.
Datos obtenidos para DOC.
Datos obtenidos para NEM.
Datos obtenidos para NUE.
Datos obtenidos para STLD.
Datos obtenidos para FCX.
Datos obtenidos para DOW.
Datos obtenidos para CE.
Datos obtenidos para MLM.
Datos obtenidos para VMC.
Datos obtenidos para CTVA.
Datos obtenidos para CF.
Datos obtenidos para MOS.
Datos obtenidos para FMC.
Datos obtenidos para LIN.
Datos obtenidos para SHW.
Datos obtenidos para ECL.
Datos obtenidos para APD.
Datos obtenidos para DD.
Datos obtenidos para LYB.
Datos obtenidos para PPG.
Datos obtenidos para IFF.
Datos obtenidos para EMN.
Datos obtenidos para ALB.
Datos obtenidos para HAS.
Datos obtenidos para MAR.
Datos obtenidos para HLT.
Datos obtenidos para GPC.
Datos obtenidos para APTV.
Datos obtenidos para LKQ.
Datos obtenidos para BWA.
Datos obtenidos para MCD.
Datos obtenidos para SBUX.
Datos obtenidos para CMG.
Datos obtenidos para YUM.
Datos obtenidos para DRI.
Datos obtenidos para DPZ.
Datos obtenidos para TPR.
Datos obtenidos para TJX.
Datos obtenidos para ROST.
Datos obtenidos para LULU.
Datos obtenidos para AMZN.
Datos obtenidos para EBAY.
Datos obtenidos para ETSY.
Datos obtenidos para BKNG.
Datos obtenidos para ABNB.
Datos obtenidos para RCL.
Datos obtenidos para CCL.
Datos obtenidos para EXPE.
Datos obtenidos para NCLH.
Datos obtenidos para ORLY.
Datos obtenidos para AZO.
Datos obtenidos para TSCO.
Datos obtenidos para BBY.
Datos obtenidos para ULTA.
Datos obtenidos para BBWI.
Datos obtenidos para ROL.
Datos obtenidos para LVS.
Datos obtenidos para MGM.
Datos obtenidos para WYNN.
Datos obtenidos para CZR.
Datos obtenidos para TSLA.
Datos obtenidos para GM.
Datos obtenidos para F.
Datos obtenidos para RL.
Datos obtenidos para NKE.
Datos obtenidos para DECK.
Datos obtenidos para SW.
Datos obtenidos para BALL.
Datos obtenidos para PKG.
Datos obtenidos para AVY.
Datos obtenidos para IP.
Datos obtenidos para AMCR.
Datos obtenidos para HD.
Datos obtenidos para LOW.
Datos obtenidos para KMX.
Datos obtenidos para DHI.
Datos obtenidos para LEN.
Datos obtenidos para NVR.
Datos obtenidos para PHM.
Datos obtenidos para MHK.
Datos obtenidos para PM.
Datos obtenidos para MO.
Datos obtenidos para MDLZ.
Datos obtenidos para HSY.
Datos obtenidos para ADM.
Datos obtenidos para TSN.
Datos obtenidos para BG.
Datos obtenidos para KR.
Datos obtenidos para KHC.
Datos obtenidos para GIS.
Datos obtenidos para K.
Datos obtenidos para MKC.
Datos obtenidos para HRL.
Datos obtenidos para CPB.
Datos obtenidos para CAG.
Datos obtenidos para SJM.
Datos obtenidos para LW.
Datos obtenidos para WMT.
Datos obtenidos para COST.
Datos obtenidos para TGT.
Datos obtenidos para DG.
Datos obtenidos para DLTR.
Datos obtenidos para SYY.
Datos obtenidos para STZ.
Datos obtenidos para TAP.
Datos obtenidos para KO.
Datos obtenidos para PEP.
Datos obtenidos para KDP.
Datos obtenidos para MNST.
Datos obtenidos para PG.
Datos obtenidos para CL.
Datos obtenidos para KMB.
Datos obtenidos para KVUE.
Datos obtenidos para EL.
Datos obtenidos para CHD.
Datos obtenidos para CLX.
Datos obtenidos para BF-B.
Datos obtenidos para MS.
Datos obtenidos para GS.
Datos obtenidos para SCHW.
Datos obtenidos para MKTX.
Datos obtenidos para V.
Datos obtenidos para MA.
Datos obtenidos para AXP.
Datos obtenidos para PYPL.
Datos obtenidos para COF.
Datos obtenidos para DFS.
Datos obtenidos para SYF.
Datos obtenidos para BX.
Datos obtenidos para BLK.
Datos obtenidos para KKR.
Datos obtenidos para BK.
Datos obtenidos para AMP.
Datos obtenidos para TROW.
Datos obtenidos para STT.
Datos obtenidos para RJF.
Datos obtenidos para PFG.
Datos obtenidos para NTRS.
Datos obtenidos para BEN.
Datos obtenidos para IVZ.
Datos obtenidos para PNC.
Datos obtenidos para USB.
Datos obtenidos para TFC.
Datos obtenidos para FITB.
Datos obtenidos para MTB.
Datos obtenidos para HBAN.
Datos obtenidos para RF.
Datos obtenidos para CFG.
Datos obtenidos para KEY.
Datos obtenidos para AFL.
Datos obtenidos para MET.
Datos obtenidos para PRU.
Datos obtenidos para GL.
Datos obtenidos para MMC.
Datos obtenidos para AON.
Datos obtenidos para AJG.
Datos obtenidos para BRO.
Datos obtenidos para WTW.
Datos obtenidos para JPM.
Datos obtenidos para BAC.
Datos obtenidos para WFC.
Datos obtenidos para C.
Datos obtenidos para AIZ.
Datos obtenidos para BRK-B.
Datos obtenidos para AIG.
Datos obtenidos para ACGL.
Datos obtenidos para EG.
Datos obtenidos para PGR.
Datos obtenidos para CB.
Datos obtenidos para TRV.
Datos obtenidos para ALL.
Datos obtenidos para HIG.
Datos obtenidos para WRB.
Datos obtenidos para CINF.
Datos obtenidos para L.
Datos obtenidos para SPGI.
Datos obtenidos para ICE.
Datos obtenidos para MCO.
Datos obtenidos para CME.
Datos obtenidos para MSCI.
Datos obtenidos para NDAQ.
Datos obtenidos para CBOE.
Datos obtenidos para FDS.
Datos obtenidos para NFLX.
Datos obtenidos para DIS.
Datos obtenidos para LYV.
Datos obtenidos para WBD.
Datos obtenidos para FOXA.
Datos obtenidos para FOX.
Datos obtenidos para NWS.
Datos obtenidos para NWSA.
Datos obtenidos para PARA.
Datos obtenidos para TMUS.
Datos obtenidos para VZ.
Datos obtenidos para CMCSA.
Datos obtenidos para T.
Datos obtenidos para CHTR.
Datos obtenidos para OMC.
Datos obtenidos para IPG.
Datos obtenidos para EA.
Datos obtenidos para TTWO.
Datos obtenidos para GOOGL.
Datos obtenidos para GOOG.
Datos obtenidos para META.
Datos obtenidos para MTCH.

,date,open,high,low,close,adjclose,volume,ticker
0,2015-01-02,68.500000,69.480003,68.230003,68.919998,50.309769,5701800,COP
1,2015-01-05,67.709999,67.980003,65.430000,65.639999,47.915482,10938900,COP
2,2015-01-06,65.290001,66.599998,62.880001,62.930000,45.937244,18054700,COP
3,2015-01-07,64.010002,64.230003,62.849998,63.349998,46.243835,12350500,COP
4,2015-01-08,64.849998,65.489998,63.900002,64.930000,47.397194,10348300,COP
...,...,...,...,...,...,...,...,...
776567,2024-08-19,34.910000,36.700001,34.910000,36.580002,36.580002,3884700,MTCH
776568,2024-08-20,36.360001,36.595001,36.169998,36.529999,36.529999,3375900,MTCH
776569,2024-08-21,36.689999,37.580002,36.439999,37.139999,37.139999,4550400,MTCH
776570,2024-08-22,37.099998,37.160000,36.360001,36.419998,36.419998,4800500,MTCH
776571,2024-08-23,36.669998,37.424999,36.590000,37.320000,37.320000,5294400,MTCH

In [12]:
# Fields that make up the ID
id_fields = ['ticker', 'date']

# Apply the function to the DataFrame to create the 'id' column
new_df['id'] = new_df.apply(generate_id, axis=1, fields=id_fields)

new_df

,date,open,high,low,close,adjclose,volume,ticker,id
0,2015-01-02,68.500000,69.480003,68.230003,68.919998,50.309769,5701800,COP,4342948b0ecbd3d9b2bd691bb3d0f45a
1,2015-01-05,67.709999,67.980003,65.430000,65.639999,47.915482,10938900,COP,8035c040b4c16aaae94334be92d773fd
2,2015-01-06,65.290001,66.599998,62.880001,62.930000,45.937244,18054700,COP,273e2f6115430f61fc8d6cfe366d260e
3,2015-01-07,64.010002,64.230003,62.849998,63.349998,46.243835,12350500,COP,4581c3e5a836782fddb2a4505e45fb66
4,2015-01-08,64.849998,65.489998,63.900002,64.930000,47.397194,10348300,COP,2475f7a4282d8fdbe55aefd82b119046
...,...,...,...,...,...,...,...,...,...
776567,2024-08-19,34.910000,36.700001,34.910000,36.580002,36.580002,3884700,MTCH,cd0484f31059c8724b858370c1dc9b8f
776568,2024-08-20,36.360001,36.595001,36.169998,36.529999,36.529999,3375900,MTCH,d7b903d7ef9849e21d50e60813dbfebd
776569,2024-08-21,36.689999,37.580002,36.439999,37.139999,37.139999,4550400,MTCH,c2e2f3489b2be3381ced46016e4ed21d
776570,2024-08-22,37.099998,37.160000,36.360001,36.419998,36.419998,4800500,MTCH,7ff4851947e5aec2c4f32365c70f10a3
776571,2024-08-23,36.669998,37.424999,36.590000,37.320000,37.320000,5294400,MTCH,faf5ba60eccd06b480f997a4023d62a0

In [13]:
# En el caso de tener un df en Bigquery, lo leemos y guardamos solo los nuevos registros
try:
    # Filtramos solamente los nuevos registros
    df_incremental = select_for_incremental(id='id', table=table_conca, new_df=new_df)

    # Guardamos los datos en bigquery
    bigquery.save_dataframe(df_incremental, project, dataset, table, if_exists='append', schema=None)

# En el caso de no tener datos en Bigquery, guardamos todo el df
except:
    bigquery.save_dataframe(new_df, project, dataset, table, if_exists='append', schema=None)

InvalidSchema: Reason: Provided Schema does not match Table sara-carles-keepcoding:bronze.bronze_ticker_data. Cannot add fields (field: id)